    appnope
asgiref
asn1crypto
attrs
autopep8
backcall
bleach
certifi
cffi
chardet
cryptography
decorator
defusedxml
Django
django-cors-headers
django-dotenv
djangorestframework
djangorestframework-simplejwt
entrypoints
future
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
MarkupSafe
mistune
mongo
more-itertools
nbconvert
nbformat
notebook
numpy
opencv-python
pandocfilters
parso
pexpect
pickleshare
pika
pipenv
prometheus-client
prompt-toolkit
psycopg2-binary
ptyprocess
pycodestyle
pycparser
Pygments
PyJWT
pymongo
pyrsistent
pyTelegramBotAPI
python-dateutil
python-telegram-bot
pytz
pyzmq
requests
scipy
selenium
Send2Trash
six
sqlparse
terminado
testpath
toml
tornado
traitlets
typing_extensions
urllib3
virtualenv
virtualenv-clone
wcwidth
webencodings
zipp
